<!-- Jumbotron -->
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot ">
      <div class="container black-layer">
        <h1 class="header center teal-text text-lighten-2">Your custom e-learning platform is here!</h1>
        <div class="row center">
          <h5 class="header col s12 light">Ready to create some killer e-learning lessons without worrying about code?</h5>
        </div>
        <div class="row center">
          <form class="user-form" action="/user/add" method="post">
          <input type="email" name="email" class="form-control" placeholder="Here's my e-mail, sign me up!" required>
          <button class="btn-large waves-effect waves-light teal lighten-1" type="submit">
            Sign Up
          </button>
        </form>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../img/sketching.jpg" alt="Background image" style="display: block; transform: translate3d(-50%, 161px, 0px);"></div>
  </div>

    <!-- Benefits -->
    <div class="row">
      <div class="col s4">
          <h2 class="center-align">Benefit #1</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col s4">
          <h2 class="center-align">Benefit #2</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col s4">
          <h2 class="center-align">Benefit #3</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div>

    <!-- Testimonial -->
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s4">
              <img src="http://lorempixel.com/56/56/people/1" alt="" class="circle responsive-img">
            </div>
            <div class="col s8"></div>
              <span class="black-text">
                Didn't have to worry about a single thing. Got my website up and running in seconds and sold 500 yoga lessons overnight!
              </span>
            </div>
          </div>
        </div>
      </div>