<div class="sign-form row">
	<div class="col l4 m6 s10 offset-l4 offset-m3 offset-s1">
	<div class="card-panel hoverable">
		<h4 class="center-align"><%= t(".title") %></h4>
		<%= render partial: '/sessions/form' %>
	</div>
	</div>
</div>
