<div class="sign-form row">
  <div class="col l4 m6 s10 offset-l4 offset-m3 offset-s1">
    <div class="card-panel hoverable">
      <h4 class="center-align">Edit your profile</h4>
      <%= form_for @user do |form| %>
        <%= render partial: '/users/form', object: form %>
        <% end %>
        </div>
    </div>
  </div>
