<div class="container-fluid">
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-10">
						<ol>
							<h3>Lessons</h3>
								<li>
									Name: <%= @lesson.name %>
								<ul>
									<li>
										Description: <%= @lesson.description %>
								</li>
								</ul>
								</li>
						</ol>
		</div>
	</div>
</div>
