<div class="sign-form row">
  <div class="col l4 m6 s10 offset-l4 offset-m3 offset-s1">
    <div class="card-panel hoverable">
      <%= form_tag course_payments_path do %>
      <h4 class="center-align"> Thank you for choosing the course<br>"<%= @course.name %>"</h4>
      <div class="row">
        <div class="input-field">
          <div id="payment-form"></div>
          <%= submit_tag "Pay #{@course.formatted_price}", class: "btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>
// We generated a client token for you so you can test out this code
// immediately. In a production-ready integration, you will need to
// generate a client token on your server (see section below).
var clientToken = "<%= @client_token %>";

braintree.setup(clientToken, "dropin", {
  container: "payment-form"
});
</script>

