<h1>Please add your chapter here!</h1>
<form id="chapter-form" action="<%= new_course_chapter_path(@course) %>" method="post">
	<div id="input-field">
		<p>
			<h5> Chapter Number #</h5>
			<input type="text" name="chapter_name" placeholder="Chapter Name" class="input-field col s6">
		</p>

		<p>
			<div class="row">
				<input type="textarea" name="chapter_description" placeholder="Chapter Description" class="input-field col s6">
			</div>
		</p>


	</div>
	<input type="submit" name"Submit" class="btn">
</form>
<div>
	<button class="add_field_button btn"> Add Another Chapter</button>
</div>
