<div class="row">
	<div class="col s12 m4 l3 card teal lighten-5">
		<%= render partial: '/admin/sidebar' %>
	</div>
	<div class="col s12 m8 l9">
		<div class="row">
			<h1>Please add your chapter here!</h1>
			<form  action="<%= course_chapters_path({course_id: @course.id}) %>" method="post">
				<div id="chapter-form">
					<h5> Chapter Number <span class="theCount">1</span></h5>
					<input type="text" name="chapter_name[]" placeholder="Chapter Name" class="col s6">
					<div class="row">
						<textarea name="chapter_description[]" placeholder="Chapter Description" class="materialize-textarea"></textarea>
					</div>
				</div>
				<input id="form-btn" type="submit" name"Submit" class="btn">
			</form>
			<div><br>
				<button id="addMe" class="add_field_button btn"> Add Another Chapter</button>
			</div>
			<!-- Hidden Form to clone with jquery -->
			<div hidden>
				<form id="chapter-form" action="<%= new_course_chapter_path(@course) %>" method="post">
					<div id="input-field">
						<h5> Chapter Number <span class="theCount">2</span></h5>
						<input type="text" name="chapter_name[]" placeholder="Chapter Name" class="input-field col s6">
						<div class="row">
							<textarea name="chapter_description[]" placeholder="Chapter Description" class="materialize-textarea"></textarea>
						</div>
					</div>
				</form>
				<input id="form-btn" type="submit" name"Submit" class="btn">
			</div>
		</div>
	</div>
</div>