<div class="container-fluid">
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-10">
				Chapter Name: <%= @chapter.name %><br>
				Chapter description: <%= @chapter.description %>
			</div>
			<%= link_to "Add Lesson", new_course_chapter_lesson_path(params[:course_id], params[:id])%><br>
			<%= link_to "See Course", course_path(params[:course_id])%>
		</div>
	</div>
<div>
