.flash {
  position: fixed;
  top: 79px;
  right: 10px;
  padding: 15px 15px;
  z-index: 1;
  border-radius: 5px;
    box-shadow: 
    0 1px 1px rgba(0,0,0,0.1), 
    inset 0 1px 0 rgba(255,255,255,0.6);  
  opacity: 0;
  animation: fadeOut 3s linear forwards;
}

@keyframes fadeOut {
  0%  { opacity: 0; display: none; }
  10% { opacity: 1; display: block; }
  90% { opacity: 1; transform: translateY(0px);}
  99% { opacity: 0; transform: translateY(-30px);}
  100% { opacity: 0; display:none; }
}

.notice {
  background: rgba(230,238,156,.7);
  border: 1px solid #c0ca33;
}

.error {
  background: rgba(239,154,154,.7);
  border: 1px solid #e57373;
}

.success {
  background: rgba(174,213,129,.7);
  border: 1px solid #558b2f;
}

