<!-- SIDEBAR A TROCAR POR PARTIAL -->
<div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li><a href=""><span class="glyphicon glyphicon-plus"></span> Add a Course</a></li>
              <li class="nav-header">My Courses</li>
              <li class="active"><a href="#">Course 1</a></li>
              <ul>
                <li>My Lessons</li>
                <li>Edit Course</li>
              </ul>
              <li><a href="#">Course 2</a></li>
              <li><a href="#">Course 3</a></li>
              <br>
              <li class="nav-header">My Profile</li>
              <li><a href="#">Edit</a></li>
              <li><a href="#">Log Out</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <!-- FIM DA SIDEBAR A TROCAR POR PARTIAL -->
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-12">
              <h1>Let's edit your Profile!</h1>
                <form class="user-form" action="/user/edit/<%= @user.id %>" method="post">
                <label for="name">Name</label>
                  <input type="text" name="name" id="name" class="form-control" value="<%= @user.name %>" required>
                  <label for="email">Email</label>
                  <input type="email" name="email" class="form-control" value="<%= @user.email %>" id="email" required>
                  <button class="btn btn-primary" type="submit">
                    Update
                  </button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>