<div class="footer-placeholder"></div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-right">© 2015 Encoden - All rights reserved</p>
  </div>
</nav>
