<!-- Call to Action -->
    <div class="jumbotron">
      <div class="container black-layer">
        <h1 class="text-center">Your custom e-learning platform is here!</h1>
        <p>Are you ready to kick some ass with killer e-learning lessons without having to worry about anything? You worry about your content, we handle the code!</p>
        <p>
          <form class="user-form" action="/user/add" method="post">
          <input type="text" name="username" id="username" class="form-control" placeholder="Here's my e-mail, sign me up!" required>
          <button class="btn btn-primary" type="submit">
            Sign Up
          </button>
        </form>
        </p>
      </div>
    </div>

    <div class="container">
      <!-- 3 Benefits go here -->
      <div class="row">
        <div class="col-md-4">
          <h2 class="text-uppercase">Benefit #1</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2 class="text-uppercase">Benefit #2</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2 class="text-uppercase">Benefit #3</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <!-- Testimonial -->
        <div class="container">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="list-group">
                <div class="list-group-item">
                    <div class="row-picture">
                        <img class="circle" src="http://lorempixel.com/56/56/people/1" alt="person avatar">
                    </div>
                    <div class="row-content">
                        <blockquote>
                          <p class="list-group-item-text">Didn't have to worry about a single thing. Got my website up and running in seconds and sold 500 yoga lessons overnight!</p>
                          <footer><cite title="Source Title">Someone famous on Twitter</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>