<!DOCTYPE html>
<html lang="en">
	<head>

		<link rel="css" href="/stylesheets/normalize.css">
		<link rel="css" href="/stylesheets/application.css">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/roboto.min.css" rel="stylesheet">
		<link href="css/material.min.css" rel="stylesheet">
		<link href="css/ripples.min.css" rel="stylesheet">



		<title>Your E-learning platform | @title </title>
	</head>
	<body>
		<%= erb :navbar %>
		<%= yield %>
		<%= erb :footer %>

		<!-- Javascript -->
		<!-- Aplication javascript -->
		<script src="js/application.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/ripples.min.js"></script>
		<script src="js/material.min.js"></script>
		<script>
$(document).ready(function() {
	// This command is used to initialize some elements and make them work properly
	$.material.init();
});
		</script>
	</body>
</html>
