<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/stylesheets/normalize.css">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <!-- Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect -->
  <link href="/stylesheets/roboto.min.css" rel="stylesheet">
  <link href="/stylesheets/material.min.css" rel="stylesheet">
  <link href="/stylesheets/ripples.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/application.css">


  <title>Your E-learning platform | @title </title>
</head>
<body>
  <%= erb :navbar %>
  <%= yield %>
  <%= erb :footer %>

	<!-- Javascript -->
	<!-- Aplication javascript -->
  <script src="/javascript/application.js"></script>
	<!-- Bootstrap javascript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
