<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Normalize -->
		<link href="/css/normalize/normalize.css" rel="stylesheet">
		<!-- Bootstrap -->
		<link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
		<!-- Materialize -->
		<link href="/css/materialize/roboto.min.css" rel="stylesheet">
		<link href="/css/materialize/material.min.css" rel="stylesheet">
		<link href="/css/materialize/ripples.min.css" rel="stylesheet">
		<!-- Custom CSS -->
		<link href="/css/application.css" rel="stylesheet">
		<!-- Jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
		</script>

		<title>Your E-learning platform | @title </title>
	</head>

	<body>

		<%= erb :navbar %>
		<%= yield %>
		<%= erb :footer %>

		<!-- Javascript -->
		<!-- Aplication javascript -->
		<script src="/js/application.js"></script>
		<script src="/js/jquery/jquery.min.js"></script>
		<script src="/js/bootstrap/bootstrap.min.js"></script>
		<script src="/js/materialize/ripples.min.js"></script>
		<script src="/js/materialize/material.min.js"></script>
		<script>
$(document).ready(function() {
	// This command is used to initialize some elements and make them work properly
	$.material.init();
});
		</script>
	</body>
</html>
