<nav>
	<div class="nav-wrapper teal darken-1">
		<a href="/" class="brand-logo">Encoden</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<% if signed_in? %>
				<li> <%= current_user.email %></li>
			<% else %>
				<li>
					<%= link_to 'Sign in', sign_in_path %>
				<% end %>
				</li>
				<li><a href="#">Help</a></li>
				<li><a href="#">Contact</a></li>
				<li>
					<% if signed_in? %>
						<%= link_to 'Sign out', sign_out_path, method: :delete %>
					<% else %>
					<% end %>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li><a href="/">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Profile</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
</nav>
